#garrafa{
     height: 150px;
     width: 150px;
}

#lapis{
    height: 150px;
    width: 150px;
}

#tesoura{
    height: 150px;
    width: 150px; 
}

#celular{
    height: 150px;
    width: 150px;
}

#apontador{
    height: 150px;
    width: 150px;
}

#headset{
    height: 150px;
    width: 150px;
}

#mouse{
    height: 150px;
    width: 150px;
}

#teclado{
    height: 150px;
    width: 250px;
}

#oculos{
    height: 150px;
    width: 150px;
}

#escovaDental{
    height: 150px;
    width: 150px; 
}